<!-- 
    Description : Home page
    Developer   : Premkumar
    Date        : 22/6/2021
 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Royalspade Studios</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/index.css">

</head>
<body>
    <div class="menu-overlay"></div> 
    <section class="hidden-menu">
        <img src="../imges/logo/royalspade-white.svg" alt="">
        <div class="hidden-menu-links">
            <h3>about</h3>
        <ul>
            <li><a href="">link 1</a></li>
            <li><a href="">link 2</a></li>
            <li><a href="">link 3</a></li>
            <li><a href="">link 4</a></li>
        </ul>
        <h3>Products</h3>
        <ul>
            <li><a href="">link 1</a></li>
            <li><a href="">link 2</a></li>
            <li><a href="">link 3</a></li>
            <li><a href="">link 4</a></li> 
        </ul>
        <h3>Social</h3>
        <ul>
            <li><a href="">link 1</a></li>
            <li><a href="">link 2</a></li>
            <li><a href="">link 3</a></li>
            <li><a href="">link 4</a></li>
        </ul>
        </div>
        
    </section>
    <main class="main-content">
        <!-- Header -->
        <header class="header">
            <nav class="top-nav">
                <img class="icon" src="../imges/logo/royalspade-white.svg" alt="Royal spade logo">
                <ul class="nav-links">
                    <li><a href="#index" class="nav-link active-link">Home</a></li>
                    <li><a href="#aboutus" class="nav-link">About us</a></li>
                    <li><a href="#login" class="nav-link">Login</a></li>
                    <span class='ham-burger-menu'>
                    <li><a href="#menu"> Menu</a></li>
                    <li><a href="#menu" class="ham-menu">
                        <svg class="ham hamRotate ham8" viewBox="0 0 100 100" width="50">
                            <path
                                  class="line top"
                                  d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20" />
                            <path
                                  class="line middle"
                                  d="m 30,50 h 40" />
                            <path
                                  class="line bottom"
                                  d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20" />
                          </svg>      
                        </a>
                    </li></span>
                </ul>
            </nav>
            <section class="header-content">
                <div class="slogan-box">
                    <p class="slogan">Connecting people with their passion</p>
                    <p class="sub-slogan">Join the world's leading filmmakers, artists, Photographers and designers. Build yours now.</p>
                <button class="button">Get Started</button> 
                </div>
                <img class="illustration" src="../imges/illustrations/Fashion.svg" alt="fashion">
            </section>
        </header>


        <!-- About -->
        <section class="about" id="about">
            <div class="container">
                <h2 class="section-title">About</h2>
                <img class="illustration" src="../imges/illustrations/Order Placed.svg" alt="">
                <div class="text-box1">
                    <h3>Who we are?</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis nulla voluptate vel dolores quibusdam quia</p>
                </div>
                <div class="text-box2">
                    <h3>What we are doing?</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero error  culpa necessitatibus aut id cumque ullam  eius sit dolor, animi minus?</p>
                </div>
            </div>
                
        </section>

        <!-- Events -->
        <section class="events">
            <h2 class="section-title">Events</h2>
            <div class="container"></div>     
            <img class="poster" src="../imges/pictures/index/main-fasion-banner.jpg" alt="banner">
            <div class="text-box">
                <h3>What it is?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum aperiam nihil molestiae dolor voluptatum porro, nobis aliquid </p>
                <h3>This is Heading</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, nihil! Veritatis distinctio ea accusamus tenetur illo repellendus pariatur laudantium laborum</p>
            </div>      

            
            <div class="cards-container">
                <div class="cards-row">
                    <div class="card">
                        <p class="badge">UPCOMMING</p>
                        <div class="card-content">
                            <img src="../imges/pictures/index/fasion-event-card-1.jpg" alt="card banner" class="card-banner">
                            <h3 class="card-title">Card title</h3>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                        </div>
                    </div>
                    <div class="card">
                        <p class="badge">UPCOMMING</p>
                        <div class="card-content">                    
                            <img src="../imges/pictures/index/fasion-event-card-2.jpg" alt="card banner" class="card-banner">
                            <h3 class="card-title">Card title</h3>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                        </div>
                    </div>
                    <div class="card">
                        <p class="badge">UPCOMMING</p>
                        <div class="card-content">
                        
                            <img src="../imges/pictures/index/fasion-event-card-3.jpg" alt="card banner" class="card-banner">
                            <h3 class="card-title">Card title</h3>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                        </div>
                    </div>
                    <div class="card">
                        <p class="badge">UPCOMMING</p>
                        <div class="card-content">
                        
                            <img src="../imges/pictures/index/fasion-event-card-1.jpg" alt="card banner" class="card-banner">
                            <h3 class="card-title">Card title</h3>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                        </div>
                    </div>
                    <div class="card">
                        <p class="badge">UPCOMMING</p>
                        <div class="card-content">                        
                            <img src="../imges/pictures/index/fasion-event-card-2.jpg" alt="card banner" class="card-banner">
                            <h3 class="card-title">Card title</h3>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                        </div>
                    </div>
                </div>
                <button class='button' >learn more</button> 
            </div>
        </section>

        <!-- Products -->

        <section class="products">
            <h2 class="section-title">Products</h2>
            <div class="container"> </div>
                <img class="poster" src="../imges/pictures/index/people0.png" alt="image">
                <div class="text-box">
                    <h3>Heading</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis dignissimos quisquam eos animi numquam obcaecati temporibus eveniet maxime.</p>
                    <p class="big-text">Free Delivery across</p>
                    <p class="very-big-text">India</p>
                    <img src="../imges/illustrations/Delivery.svg" alt="Delivery">
                </div>
            <div class="product-grid">
                <div class=" product product1">
                    <img src="../imges/pictures/index/people1.png" alt="product" class="product-image">
                </div>
                <div class="product product2">
                    <img src="../imges/pictures/index/people2.png" alt="product" class="product-image">
                </div>
                <div class="product product3">
                    <img src="../imges/pictures/index/people3.png" alt="product" class="product-image">
                </div>
                <div class="product product4">
                    <img src="../imges/pictures/index/people4.png" alt="product" class="product-image">
                </div>
                <div class="product product5">
                    <img src="../imges/pictures/index/people5.png" alt="product" class="product-image">
                </div>
                <div class="product product6">
                    <img src="../imges/pictures/index/people6.png" alt="product" class="product-image">
                </div>
                <div class="product product7">
                    <img src="../imges/pictures/index/people7.png" alt="product" class="product-image">
                </div>
                <div class="product product8">
                    <img src="../imges/pictures/index/people8.png" alt="product" class="product-image">
                </div>
                <div class="product product9">
                    <img src="../imges/pictures/index/people9.png" alt="product" class="product-image">
                </div>
                <div class="product product10">
                    <img src="../imges/pictures/index/people10.png" alt="product" class="product-image">
                </div>
            </div>
            <button class='button center' >see more products</button>
            
        </section>
        <section class="youtube">
            <h3 class="section-title">YouTube</h3>
            <div class="container1">
                <iframe class="youtube-player" src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1&mute=1"></iframe>
                <div class="text-box">
                    <h3>Royal Spade channel</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis unde ipsum, officia voluptatem cum nihil ab corrupti labore!</p>
                </div>
            </div>
            <div class="container2">
                
                    <img class="aside-video"  src="../imges/pictures/index/rs11.png" alt="">
                
                
                    <img class="aside-video"  src="../imges/pictures/index/rs21.png" alt="">
                
                
                    <img class="aside-video"  src="../imges/pictures/index/rs3.png" alt="">
                
                
                    <img class="aside-video"  src="../imges/pictures/index/rs11.png" alt="">
                
                
                    <img class="aside-video"  src="../imges/pictures/index/rs21.png" alt="">
                
                
                    <img class="aside-video"  src="../imges/pictures/index/rs3.png" alt="">
                
                <button class='button' >more</button> 

            </div>
        </section>

        <section class="team">
            <h3 class="section-title">Team</h3>
            <div class="members-container">
                <div class="member">
                    <img src="../imges/pictures/index/avatar/mukesh.jpeg" alt="MUKESH" class="avatar">
                    <div class="text-container">                
                        <div class="name">MUKESH</div>
                        <div class="line"></div>
                        <div class="position">Founder</div>
                    </div>
                </div>
                <div class="member">
                    <img src="../imges/pictures/index/avatar/prabhu.jpeg" alt="PRABHU" class="avatar">
                    <div class="text-container">                
                        <div class="name">PRABHU</div>
                        <div class="line"></div>
                        <div class="position">Administrator</div>
                    </div>
                </div>
                <div class="member">
                    <img src="../imges/pictures/index/avatar/sneha.jpeg" alt="SNEHA" class="avatar">
                    <div class="text-container">                
                        <div class="name">SNEHA</div>
                        <div class="line"></div>
                        <div class="position">Managing Director</div>
                    </div>
                </div>
                <div class="member">
                    <img src="../imges/pictures/index/avatar/gokul.jpeg" alt="GOKUL" class="avatar">
                    <div class="text-container">                
                        <div class="name">GOKUL</div>
                        <div class="line"></div>
                        <div class="position">Creative Director</div>
                    </div>
                </div>
                <div class="member">
                    <img src="../imges/pictures/index/avatar/aakaash.jpeg" alt="AAKAASH" class="avatar">
                    <div class="text-container">                
                        <div class="name">AAKAASH</div>
                        <div class="line"></div>
                        <div class="position">Technical Director</div>
                    </div>
                </div>
                <div class="member">
                    <img src="../imges/pictures/index/avatar/haridev.jpeg" alt="HARI DEV" class="avatar">
                    <div class="text-container">
                        <div class="name">HARI DEV</div>
                        <div class="line"></div>
                        <div class="position">Chief Executive Officer</div>
                    </div>
                </div>
                <div class="member">
                    <img src="../imges/pictures/index/avatar/jonnas.jpeg" alt="JOANNAS" class="avatar">
                    <div class="text-container">                
                        <div class="name">JOANNAS</div>
                        <div class="line"></div>
                        <div class="position">Director of Operation</div>
                    </div>
                </div>
                <div class="member">
                    <img src="../imges/pictures/index/avatar/devadarsini.jpeg" alt="DEVADHARSINI" class="avatar">
                    <div class="text-container">
                        <div class="name">DEVADHARSINI</div>
                        <div class="line"></div>
                        <div class="position">General Manager</div>
                    </div>
                </div>
            </div>            
        </section>
        <section class="testimony">
            <div class="container1">
                <h3 class="section-title">Testimonial</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur nobis quidem ad quo sit aspernatur.</p>
                <div class="testimony-grid">
                    <div class="card">
                        <img src="../imges/pictures/index/avatar/testimony/reviewer-1.jpg" alt="" class="avatar">
                        <h3>Tracy Kennedy</h3>
                        <p class="position">Orange Tech,. CEO</p>
                    </div>
                    <div class="card">
                        <img src="../imges/pictures/index/avatar/testimony/reviewer-2.jpg" alt="" class="avatar">
                        <h3>Tracy Kennedy</h3>
                        <p class="position">Orange Tech,. CEO</p>
                    </div>
                    <div class="card">
                        <img src="../imges/pictures/index/avatar/testimony/reviewer-3.jpg" alt="" class="avatar">
                        <h3>Tracy Kennedy</h3>
                        <p class="position">Orange Tech,. CEO</p>
                    </div>
                    <div class="card">
                        <img src="../imges/pictures/index/avatar/testimony/reviewer-4.jpg" alt="" class="avatar">
                        <h3>Tracy Kennedy</h3>
                        <p class="position">Orange Tech,. CEO</p>
                    </div>
                </div>
            </div>
            <div class="container2">
                <div class="testimony-card">
                    <div class="big-image" style="background-image:url(../imges/pictures/index/avatar/testimony/reviewer-4.jpg);">
                    <div class="name-plate">
                        <p class="name">Tracy Kennedy</p>
                        <p class="position">Orange Tech,. CEO </p>
                    </div>
                </div>
                    
                    <div class="quote">
                        <img class="span span-left" src="../imges/illustrations/quote-left-solid.svg" alt="" srcset="">
                        <p class="content"> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur </p>
                        <img class="span span-right" src="../imges/illustrations/quote-left-solid.svg" alt="" srcset="">
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <img src="../imges/logo/royalspade-dark.svg" alt="logo" class="logo">
            <div class="links1">
                <h3>heading</h3>
                <ul>
                    <li><a href="">link1</a></li>
                    <li><a href="">link2</a></li>
                    <li><a href="">link3</a></li>
                </ul>
            </div>
            
            <div class="links2">
                <h3>heading</h3>
                <ul>
                    <li><a href="">link1</a></li>
                    <li><a href="">link2</a></li>
                    <li><a href="">link3</a></li>
                </ul>
            </div>
            <div class="links3">
                <h3>heading</h3>
                <ul>
                    <li><a href="">link1</a></li>
                    <li><a href="">link2</a></li>
                    <li><a href="#about">about</a></li>
                </ul>
            </div>
            <button class="signup button">signup</button> 
            <button class="login button" >login</button> 
            
            <div class="line"></div>
        <p class="copy-right">© Royal Spade Studios. We love our users!</p>
        <div class="social">
            <p>follow us on</p>
            <img src="" alt="" class="social-icon">
        </div>
        </footer>
    </main>
    <script src="../javascript/main.js"></script>
</body>
</html>